$font_color: #1B2226;
$h1_color: #416CA6;
$h2_color: #416CA6;
$h3_color: #148BA6;
$alink_color: #F21B42;
$orange_color: #F27329;
$text_width: 768px;

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #F9F9F9;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $font_color;
  margin: 5% 0;
  text-align: start;
  text-justify: inter-word;
  line-height: 1.5;
}

h1 {
  font-family: Helvetica neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 450;
  color: $h1_color;
  font-size: 30px;
  margin: 10px 0 0 0;
}

h2 {
  font-family: Helvetica neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: $h2_color;
  font-size: 26px;
  margin: 10px 0 0 0;
  text-shadow: 2px 0px 1px $orange_color;
  /* display: inline-block; */
  /* border-bottom: 2px solid $orange_color; */
}

h3 {
  font-family: Helvetica neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: $h3_color;
  font-size: 22px;
  margin: 10px 0 0 0;
}

a:link, a:hover, a:visited, a:active, a:focus {
  color: $alink_color;
  text-decoration: none;
}

.header_box {
  width: $text_width;
  height: 128px;
  margin: auto;
  .header_left {
    height: 128px;
    width: 50%$text_width;
    margin: 0;
    float: left;
    .navigator {
      width: 62px;
      display: flex;
      flex-direction: row;
    }
    .navigator div{
      flex: auto;
    }
  }
  .header_right {
    height: 128px;
    width: 50%$text_width;
    margin: 0;
    float: right;
    .profile_pic {
      height: 128px;
      width: 128px;
      position: relative;
      margin: 0 20px 0 0;
      float: right;
      border-radius: 50%;
    }
  }
}

.container {
  width: $text_width;
  margin: auto;
}

