$font_color: #1B2226;
$h1_color: #416CA6;
$h2_color: #416CA6;
$h3_color: #148BA6;
$alink_color: #F21B42;
$orange_color: #F27329;
$text_width: 768px;

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  font: "Roboto Slab";
  -webkit-font-smoothing: antialiased;
  color: $font_color;
  margin: 5% 0;
  text-align: start;
  text-justify: inter-word;
  line-height: 1.5;
}

h1 {
  font: Roboto;
  -webkit-font-smoothing: antialiased;
  font-weight: 450;
  color: $h1_color;
  font-size: 30px;
  margin: auto;
}

h2 {
  font: Roboto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: $h2_color;
  font-size: 26px;
  margin: auto;
  /* text-shadow: 2px 2px 2px $orange_color; */
  /* display: inline-block; */
  border-bottom: 2px solid $orange_color;
}

h3 {
  font: Roboto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: $h3_color;
  font-size: 22px;
  margin: auto;
}

a:link, a:hover, a:visited, a:active, a:focus {
  color: $alink_color;
  text-decoration: none;
}

.header_box {
  width: $text_width;
  height: 128px;
  margin: auto;
  .profile div{
    .profile_pic {
      height: 16px;
      width: 16px;
      position: relative;
      margin: 0 0 0 0;
      /*float: right;*/
      border-radius: 50%;
    }
  }
  .navigator div{
    flex: auto;
  }
}


.container {
  width: $text_width;
  margin: auto;
}

