$font_color: #1B2226;
$h1_color: #416CA6;
$h2_color: #416CA6;
$h3_color: #148BA6;
$alink_color: #F21B42;
$orange_color: #F27329;
$text_width: 768px;

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  text-size-adjust: 100%;
}

body {
  font-family: "Roboto Slab",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: $font_color;
  margin: 5% 0;
  text-align: start;
  text-justify: inter-word;
  line-height: 1.5;
}

h1 {
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  color: $h1_color;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

h2 {
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  color: $h2_color;
  font-size: 26px;
  text-align: center;
  margin: auto;
  border-bottom: 2px solid $orange_color;
}

h3 {
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: $h3_color;
  font-size: 22px;
  margin: auto;
}

a:link, a:hover, a:visited, a:active, a:focus {
  color: $alink_color;
  text-decoration: none;
}

.up {
  width: $text_width;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .profile {
    margin: auto;
    height: 128px;
    display: flex;
    justify-content: center;
    .profile_pic {
      height: 128px;
      width: 128px;
      position: relative;
      border-radius: 50%;
    }
  }

  .navigator {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
}
.container {
  width: $text_width;
  margin: auto;
}
